<div class="row">
  <div class="col-xs-7 col-sm-7 col-md-7">
    <h4 class="form-title"></h4>
    <% @details.each do |detail| %>
      <div class="main-detail">
        <div class="row">
          <div class="col-md-3"><%= image_tag(detail.photo.url, :width => 150, :height => 150) %></div>
          <div class="col-md-9">
            <div class="detail-title"><%= detail.title %></div><br/>
            <div class="start-end-date"><%= detail.start_date.strftime("%d/%m/%Y") %> to <%= detail.end_date.strftime("%d/%m/%Y") %></div>
          </div>
        </div>  
        <div class="row">
          <div class="col-md-12 description"><%= detail.description.html_safe %></div>
          <div class="col-md-12">
            <% if current_user && current_user.detail_added?(detail) %>
              <%= link_to "Applied", "#", class: "btn btn-info text-bold disabled pull-right"%>
            <% else %>
              <%= link_to "Apply", welcome_add_detail_path(id: detail.id), class: "btn btn-primary text-bold pull-right"%>
            <% end %>
          </div>
        </div>     
      </div>  
    <% end %>  
  </div>
</div>    

<%= will_paginate @details, renderer: BootstrapPagination::Rails %>
